# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
.venv/

# Environment
.env

# SQLite
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
docker-compose.override.yml

# Node / frontend
node_modules/

# Testing
.coverage
htmlcov/
.pytest_cache/
